[Unit]
Description=Gree Server Service
After=network.target
# restart forever
StartLimitIntervalSec=0
# check: systemctl --version 
# before systemd-230 change to 
#StartLimitInterval=0

[Service]
Type=simple
User=root<change for you>
Restart=always
# Restart, after 5 minutes
RestartSec=300
WorkingDirectory=<change for you>/opt/fakegree
ExecStart=<change for you>/bin/python3 /opt/fakegree/gree_server.py 192.168.12.28 1812 eu.dis.gree.com

[Install]
WantedBy=multi-user.target
